In [172]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import CategoricalNB

In [173]:
path = './dogcsv2.csv'
df = pd.read_csv(path)
df.head()

,Nationality,Size,Question1,Question2,Question3,Question4,Question5,Label
0,ต่างชาติ,ใหญ่,จริง,ไม่จริง,จริง,จริง,จริง,โกลเด้น รีทรีฟเวอร์
1,ต่างชาติ,ใหญ่,ไม่จริง,ไม่จริง,ไม่จริง,จริง,ไม่จริง,โกลเด้น รีทรีฟเวอร์
2,ต่างชาติ,ใหญ่,จริง,จริง,จริง,จริง,จริง,โกลเด้น รีทรีฟเวอร์
3,ต่างชาติ,ใหญ่,จริง,ไม่จริง,จริง,จริง,ไม่จริง,โกลเด้น รีทรีฟเวอร์
4,ต่างชาติ,ใหญ่,จริง,ไม่จริง,จริง,จริง,จริง,โกลเด้น รีทรีฟเวอร์

In [174]:
df.shape

(373, 8)

In [175]:
cols = ['Nationality', 'Size', 'Question1', 'Question2', 'Question3',
       'Question4', 'Question5']

In [176]:
le=LabelEncoder()
le.fit(df['Nationality'].astype(str))
df['Nationality'] = le.transform(df['Nationality'].astype(str))

le.fit(df['Size'].astype(str))
df['Size'] = le.transform(df['Size'].astype(str))

le.fit(df['Question1'].astype(str))
df['Question1'] = le.transform(df['Question1'].astype(str))

le.fit(df['Question2'].astype(str))
df['Question2'] = le.transform(df['Question2'].astype(str))

le.fit(df['Question3'].astype(str))
df['Question3'] = le.transform(df['Question3'].astype(str))

le.fit(df['Question4'].astype(str))
df['Question4'] = le.transform(df['Question4'].astype(str))

le.fit(df['Question5'].astype(str))
df['Question5'] = le.transform(df['Question5'].astype(str))

In [177]:
x=df[cols]
y=df['Label']

In [178]:
model = CategoricalNB()

In [179]:
model.fit(x,y)

CategoricalNB(alpha=1.0, class_prior=None, fit_prior=True)

In [180]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict

In [181]:
model.score(x, y)

0.7560321715817694

## Cross validation

In [182]:
scores = cross_val_score(model, x, y, cv=10)
scores

array([0.76315789, 0.73684211, 0.60526316, 0.72972973, 0.75675676,
       0.67567568, 0.78378378, 0.59459459, 0.62162162, 0.7027027 ])

In [183]:
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.70 (+/- 0.13)

In [184]:
predicted = cross_val_predict(clf, x, y, cv=10)
predicted

pd.crosstab(y, predicted)

col_0,ชิวาวา,ชิสุ,พุดเดิ้ล,โกลเด้น รีทรีฟเวอร์,ไทยบางแก้ว,ไทยหลังอาน
Label,,,,,,
ชิวาวา,52,17,0,0,0,0
ชิสุ,38,31,0,0,0,0
พุดเดิ้ล,0,0,63,0,0,0
โกลเด้น รีทรีฟเวอร์,0,0,0,68,0,0
ไทยบางแก้ว,0,0,0,0,27,27
ไทยหลังอาน,0,0,0,0,19,31